{% extends 'base.html' %}
{% block title %}Tuyển dụng | Kurumi{% endblock %}
{% block content %}
<section class="careers">
    <div class="container">
        <h1>Cơ hội nghề nghiệp tại Kurumi</h1>
        <p>Chúng tôi luôn tìm kiếm những thành viên mới đam mê công nghệ, sáng tạo và muốn đóng góp cho cộng đồng.</p>
        <ul>
            <li>Vị trí lập trình viên Python/Django</li>
            <li>Vị trí phát triển Frontend (React/Vue)</li>
            <li>Vị trí Marketing & CSKH</li>
        </ul>
        <p>Gửi CV về <a href="mailto:hr@kurumi.vn">hr@kurumi.vn</a></p>
    </div>
</section>
{% endblock %}
